---
import Parcial from '../components/vue/parcial.vue';
import Async from '../components/vue/async.vue';

interface Props {
	title: string;
}

const { title } = Astro.props;
//import Directives from '../components/vue/Directives.vue';
//import TODO from '../components/vue/TODO.vue'
//import Parque from '../components/vue/Parque.vue';
//import Prueba from '../components/vue/Prueba.vue';
//import Clase from '../components/vue/Clase.vue';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- <TODO client:load/>
		<Parque client:load/>
		<Prueba client:load/>
		<Clase client:load>
		<Parcial client:load/>-->
		<Async client:load/>
	</body>
</html>
