---
interface Props {
	title: string;
}

const { title } = Astro.props;
//import Directives from '../components/vue/Directives.vue';
import TODO from '../components/vue/TODO.vue'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<TODO client:load/>
	</body>
</html>
