---
const { title } = Astro.props;
import { Icon } from 'astro-icon/components'
import "/node_modules/flag-icons/css/flag-icons.min.css";
---

<!doctype html>
<html lang="es">
	<head>
		<title>{title}</title>
	</head>
	<body>
		<header class="h-16 flex items-center">
			<div class="container max-w-[1200px] mx-auto flex flex-row justify-between">
				<img src="/duolingo-logo.svg">
				<a href="#" class="relative group hover:text-gray-300 font-extrabold uppercase text-gray-400 flex flex-row">
					Idioma de la pagina
					<Icon name="mdi:chevron-down" />
					<div class="hidden group-hover:block absolute w-64 top-6 h-96 bg-slate-400">
						<Icon name="mdi:account" />
					</div>
				</a>
			</div>
		</header>
		<div class=" mt-32 flex m-auto justify-center flex-col md:flex-row">
			<div class="max-w-lg">
				<img src="/image.svg">
			</div>
			<div class=" w-1/2 flex max-w-lg items-center justify-center flex-col">
					<h1 class="text-3xl font-bold text-center text-slate-700">La forma divertida, efectiva y gratis de aprender un idioma!</h1>
					<div class="hover:cursor-pointer hover:bg-[#7edd36] w-80 h-10 bg-[#58CC02] flex items-center justify-center border-b-4 border-[#4c8a1c] mt-2 rounded-xl">
						<h1 class="px-20 text-lg font-bold text-white">EMPIEZA AHORA</h1>
					</div>
					<div class="hover:cursor-pointer hover:bg-[#ebeee7] w-80 h-10 bg-[#ffffff] flex items-center justify-center border-b-4 border-[#c5ccbf] mt-2 rounded-xl border-2">
						<h1 class="text-lg font-bold text-[#1CB0F6]">YA TENGO CUENTA</h1>
					</div>
			</div>
		</div>
		<div class="mt-32 flex m-auto justify-center space-x-10 border-y-2 p-5">
			<div class="flex justify-center items-center space-x-2">
				<Icon name="flagpack:ar" />
				<h1 class="">Ingles</h1>
			</div>
			<div class="flex justify-center items-center space-x-2">
				<Icon name="flagpack:ar" />
				<h1 class="">Ingles</h1>
			</div>
			<div class="flex justify-center items-center space-x-2">
				<Icon name="flagpack:ar" />
				<h1 class="">Ingles</h1>
			</div>
			<div class="flex justify-center items-center space-x-2">
				<Icon name="flagpack:ar" />
				<h1 class="">Ingles</h1>
			</div>
			<div class="flex justify-center items-center space-x-2">
				<Icon name="flagpack:ar" />
				<h1 class="">Ingles</h1>
			</div>
			<div class="flex justify-center items-center space-x-2">
				<Icon name="flagpack:ar" />
				<h1 class="">Ingles</h1>
			</div>
		</div>
		<slot class=" container max-w-[1200px]" />

		<footer class="container">pie de pagina</footer>
	</body>
</html>
