---
const { title } = Astro.props;
import { Icon } from 'astro-icon/components'
import "/node_modules/flag-icons/css/flag-icons.min.css";
---

<!doctype html>
<html lang="es">
	<head>
		<title>{title}</title>
	</head>
	<body>
		<header class="h-16 flex items-center">
			<div class="container max-w-[1200px] mx-auto flex flex-row justify-between">
				<img src="/duolingo-logo.svg">
				<a href="#" class="relative group hover:text-gray-300 font-extrabold uppercase text-gray-400 flex flex-row">
					Idioma de la pagina
					<Icon name="mdi:chevron-down" />
					<div class="hidden group-hover:block absolute w-64 top-6 h-96 bg-slate-400">
						<Icon name="flag:ad-1x1" />
					</div>
				</a>
			</div>
		</header>

		<slot class=" container max-w-[1200px]" />

		<footer class="container">pie de pagina</footer>
	</body>
</html>
