---
// src/pages/booking.astro
import Layout from "../layouts/BaseLayout.astro";
import BookingForm from "../components/BookingForm.vue";
---

<Layout>
    <div
        class="flex flex-col items-center justify-center min-h-screen bg-white"
    >
        <BookingForm />
    </div>
</Layout>
