---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const flags = [
	{
		flag: "",
		name: "Banddera 1",
	},
	{
		flag: "",
		name: "Banddera 2",
	},
	{
		flag: "",
		name: "Banddera 3",
	},
];
---

<Layout title="Duolingo Clone">
	<div class="container flex items-center m-auto max-w[1200px]">
		<div class="m-auto container flex flex-row justify-between">
			{
				flags.map((flag) => (
					<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="m14.303 6-3-2H6V2H4v20h2v-8h4.697l3 2H20V6z" /></svg>
						{flag.name}
					</a>
				))
			}
		</div>
	</div>
</Layout>
