---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Icon } from 'astro-icon/components'
import "/node_modules/flag-icons/css/flag-icons.min.css";

const flags = [
	{
		flag: "flagpack:us",
		name: "INGLES",
	},
	{
		flag: "flagpack:fr",
		name: "FRANCES",
	},
	{
		flag: "flagpack:de",
		name: "ALEMAN",
	},
	{
		flag: "flagpack:it",
		name: "ITALIANO",
	},
	{
		flag: "flagpack:br",
		name: "PORTUGUES",
	},
	{
		flag: "flagpack:es",
		name: "CATALAN",
	},
	{
		flag: "flagpack:ru",
		name: "RUSO",
	},
	{
		flag: "flagpack:se",
		name: "SUECO",
	},
];
---

<Layout title="Duolingo Clone">
		<div class="mt-32 flex m-auto justify-center space-x-6 border-y-2 p-2">
			{
				flags.map((flag) => (
					<a href="#">
						<div class="flex justify-center items-center">
						<Icon name={flag.flag} class='w-9 h-8 border-2 rounded-lg my-2 p-0 border-white'/>
						<h1 class="text-sm ml-2 font-bold text-[#777777]">{flag.name}</h1>
						</div>
					</a>
				))
			}
		</div>
</Layout>
